*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: rgb(41, 41, 47);
}

button {
    width: 3em;
    height: 3em;
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}

button, .container {
    border-radius: 12px;
}

.operator, #clear, #backspace, #equality {
    background-color: #FF8911;
    flex-shrink: 1;
}

.container {
    display: flex;
    width: 290px;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: black;
}

.display {
    text-align: end;
    font-size: 1.5em;
    font-weight: bold;
    background-color: grey;
    border-radius: 5px;
    padding: 0.7em;
}

.row {
    display: flex;
    gap: 0.5em;
}

.number {
    flex: 1 1 auto;
}